<!--suppress ThymeleafVariablesResolveInspection -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="https://unpkg.com/hbook-ui/dist/css/hbook.min.css">
    <script src="https://unpkg.com/hbook-ui/dist/js/hbook.min.js"></script>


</head>
<body>

<div class="container">
    <div class="row" style="height: 100px">

    </div>
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <span style="font-size: 50px;">转账业务</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" th:action="@{/consume}" method="post">
                <input type="hidden" name="icbcId">
                <div class="form-group form-line-input">
                    <input class="form-control" name="amount" type="number" placeholder="消费金额">
                    <label></label>
                    <span class="help-block"></span>
                </div>
                <div class="form-group form-line-input">

                    <input class="form-control" name="targetIcbcId" type="number" placeholder="你的银行账号">
                    <label></label>
                    <span class="help-block"></span>
                </div>
                <input type="submit" class="btn btn-mini btn-primary" value="消费"/>
            </form>
        </div>
    </div>
</div>
</body>

</html>